/* Landing Page CSS */

.headerColor {
   background: #8E0E00;  /* fallback for old browsers */
   background: -webkit-linear-gradient(left, #1F1C18, #8E0E00);
   background: -o-linear-gradient(left, #1F1C18, #8E0E00);
   background: linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landingGrid {
  background: #8E0E00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(left, #1F1C18, #8E0E00);
  background: -o-linear-gradient(left, #1F1C18, #8E0E00);
  background: linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatarImg {
  height: 150px;
  padding-top: 5em;
}


.bannerText {
  background-color: #000000;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.bannerText h1 {
  font-size: 68px;
  font-weight: bold;
  color: #ffffff;
}

.bannerText hr {
  border-top: 5px dotted #ffffff;
  width: 50%;
  margin: auto;
}

.bannerText p {
  color: #ffffff;
  font-size: 20px;
  padding: 1em;
}

.socialLinks {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.socialLinks i {
  color: #ffffff;
  font-size: 5em;
  padding: 8px;
}

/* Landing Page CSS End */

/* Projects Page CSS */

.projectsGrid {
  display: flex;
}

/* Projects Page CSS End */

/* Contact Page CSS  */

.contactBody {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contactGrid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: #ffffff;
  color: #000000;
  margin-bottom: 20px;
}

.contactGrid h2 {
  font-family: 'Anton', sans-serif;
}

.contactGrid p {
  font-family: 'Oxygen', sans-serif;
  font-weight: bold;
}

.contactGrid hr {
  border-top: 5px dotted black;
  margin: auto;
  width: 50%;
}

.contactList i {
  font-size: 66px;
  padding-right: 5rem;

}
/* Contact Page CSS End */

/* Resume Page CSS */

.resumeRightCol {
  background: #27221f;
  color: #ffffff;
  padding: 2em;
}

/* Resume Page CSS End */
